.showDropdownContainer {
    width: 100%;
    height: 500px;
    z-index: 40;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: max-height 0.5s ease;
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom: 2px solid #000;
    backdrop-filter: blur(10px);
}

.sneakerSlider {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    scroll-behavior: smooth;
}

.sneakerDropdownContainer {
    height: 100%;
    width: 100%;
    display: flex;
    scroll-snap-align: start;
}

.rightArrowButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.leftArrowButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
}

.rightArrowButtonContainer img {
    transform: rotate(270deg);
    filter: invert(100%);
    cursor: pointer;
    height: 75px;
    width: auto;
}

.leftArrowButtonContainer img {
    transform: rotate(90deg);
    filter: invert(100%);
    cursor: pointer;
    height: 75px;
    width: auto;
}