.landingHeader {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
  color: white;
  width: 100%;
  transition-delay: .5s;
  transition: background-color 0.5s ease;
  font-size: 16px;
}

.landingHeaderScroll {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
  color: white;
  width: 100%;
  transition: background-color 0.5s ease;
  background-color: rgba(0, 0, 0, 0.452);
  backdrop-filter: blur(5px);
  border-bottom: 2px solid #000;
}

.leftHeaderNav ul {
  display: flex;
}

.leftHeaderNav li {
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.leftHeaderNav li:hover{
  transform: scale(1.15);
  text-decoration: underline;
}

.logoContainer {
  width: 100%;
  padding-left: 100px;
}

.rightHeaderNav {
  display: flex;;
  width: 100%;
  justify-content: end;
  padding-right: 85px;
  filter: invert(100%);
}

.pageLogo {
  height: 75px;
  width: auto;
  cursor: pointer;
  filter: invert(100%);
  transition: transform 0.3s ease;
}

.pageLogo:hover {
  transform: scale(1.15);
}

.navIcon {
  height: 30px;
  width: auto;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.3s ease;
}

.navIcon:hover{
  transform: scale(1.15);
}