.slider {
    width: 100%;
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow: auto;
    scroll-behavior: smooth;
}

.slider div {
    display: flex;
    scroll-snap-align: center;
}

.headerContainer{
    display: flex;
    flex-direction: column;
    z-index: 40;
    position: fixed;
    width: 100%;;
    height: auto;
    overflow: hidden;
}