@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  font-family: 'Rubik';
  background-color: #8b8b8b;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}