main {
    width: 100%;
}

.headerContainer {
    position: fixed;
    top: 0;
}

.mainSection {
    padding-top: 77px;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    height: auto;
    justify-content: center;
    margin: 0 auto;
}

.activationPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    padding: 32px 0 8px 0;
    margin: 0;
}

.filterSection {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.filterPanel {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    justify-content: center;
    background: #ebeaea;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.filterPanel.active {
    max-height: 100%;
    margin-bottom: 8px;
}

.filterPanel.active .filterDiv {
    display: flex;
}

.filterPanel.active .sortDiv {
    display: flex;
}

.filterDiv {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: 25%;
    gap: 20px;
    padding: 20px 0;

    & form {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }
}

.priceInput {
    width: 200px;
    padding: 10px;
    border: 2px solid #d1d1d1;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
  }
  
  .priceInput:focus {
    border-color: #686868;
    box-shadow: 0 0 15px #d1d1d150;
    transform: scale(1.02);
  }
  
  .priceInput::placeholder {
    color: #aaa;
    font-style: italic;
  }
  
  .priceInput:hover {
    background-color: #f0f8ff;
  }

.filterSection h3 {
    text-align: center;
}

.catalogueSection {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemsContainer {
    display: grid;
    grid-template-columns: 
    repeat(auto-fill, minmax(266px, 1fr));
    gap: 12px;
    width: 100%;
    margin-top: 0;
}

.sortDiv {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    gap: 16px;
}

.sortOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 16px 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    text-align: start;
    color: rgb(0, 0, 0);
    margin: 16px 6%;
    font-weight: 700;
}

button {
    width: 20%;
}

form{
    display: flex;
    flex-direction: column;
    width: max-content;
}

input {
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    h3{
        font-size: 2rem;
    }
    .activationPanel {
        gap: 200px;
        padding: 50px 0 50px 0;
    }
    .filterSection{
        align-items: center;
    }
    .filterPanel.active {
        flex-direction: column;
        gap: 16px;
        padding: 0 0 32px 0;
    }
    .filterDiv {
        width: 100%;
        gap: 24px;
    }
    .filterDiv form {
        gap: 50px;
    }
    .sortDiv {
        width: 100%;
    }
    .sortOptions {
        gap: 48px;
        flex-direction: column;
        align-items: center;
    }
    .catalogueSection {
        margin-top: 0;
    }
    .itemsContainer {
        grid-template-columns: 
        repeat(auto-fill, minmax(320px, 1fr));
    }
  }