main {
    width: 100%;
}

.headerContainer {
    position: fixed;
    top: 0;
}

.mainSection {
    padding-top: 77px;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    height: auto;
    justify-content: center;
    margin: 0 auto;
}

.activationPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    width: 100%;
    padding: 32px 0 8px 0;
    margin: 0;
}

.filterSection {
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.filterPanel {
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    gap: 32px;
    width: 100%;
    justify-content: center;
    background: #ebeaea;
    max-height: 0;
    transition: max-height 0.5s ease;
}

.filterPanel.active {
    max-height: 100%;
    margin-bottom: 8px;
}

.filterPanel.active .filterDiv {
    display: flex;
}

.filterPanel.active .sortDiv {
    display: flex;
}

.filterDiv {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: 25%;
    gap: 20px;
    padding: 20px 0;
}

.filterSection h3 {
    text-align: center;
}

.catalogueSection {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.itemsContainer {
    display: grid;
    grid-template-columns: 
    repeat(auto-fill, minmax(266px, 1fr));
    gap: 12px;
    width: 100%;
    margin-top: 0;
}

.sortDiv {
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 32px 0;
    gap: 16px;
}

.sortOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    margin: 16px 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    text-align: start;
    color: rgb(0, 0, 0);
    margin: 16px 6%;
    font-weight: 700;
}

button {
    width: 20%;
}

form{
    display: flex;
    flex-direction: column;
    width: max-content;
}

input {
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .filterSection{
        align-items: center;
    }
    .filterPanel {
        flex-direction: column;
        gap: 0;
    }
    .filterDiv {
        width: 100%;
        gap: 12px;
    }
    .filterDiv form {
        gap: 6px;
    }
    .sortDiv {
        width: 100%;
    }
    .sortOptions {
        gap: 12px;
        flex-direction: column;
        align-items: center;
    }
    .itemsContainer {
        grid-template-columns: 
        repeat(auto-fill, minmax(200px, 1fr));
    }
  }