.landingHeader {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 40;
  color: white;
  height: 100%;
  width: 100%;
  transition-delay: .5s;
  transition: background-color 0.5s ease;
  font-size: 16px;
  border-bottom: 0px solid black;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0px);
  padding: 5px 0px;
}

.leftHeaderNav {
  height: 82px;
}

.leftHeaderNav ul {
  height: 100%;
  display: flex;
  margin: 0;
  align-items: center;
  gap: 50px;
}

.leftHeaderNav li {
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 100%;
  transition: transform 0.3s ease;
  
}

.leftHeaderNav li:hover{
  transform: scale(1.15);
  text-decoration: underline;
}

.leftHeaderNav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  height: 100%;
}

.logoContainer {
  width: 100%;
  padding-left: 100px;
}

.rightHeaderNav {
  display: flex;;
  width: 100%;
  justify-content: end;
  padding-right: 85px;
  filter: invert(100%);
}

.searchBarHeader {
  background-color: white;
  color: black;
  filter: invert(100%);
  margin-right: 10px;
  border-radius: 10px;
  padding-left: 15px;
  border: 1px solid black;
}

.pageLogo {
  height: 75px;
  width: auto;
  cursor: pointer;
  filter: invert(100%);
  transition: transform 0.3s ease;
}

.pageLogo:hover {
  transform: scale(1.15);
}

.navIcon {
  height: 30px;
  width: auto;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.3s ease;
}

.navIcon:hover{
  transform: scale(1.15);
}