main {
    width: 100%;
    height: 100vh;
}

.headerContainer {
    position: fixed;
    top: 0;
}

h1, h2, h3, h4 {
    margin: 0;
}

h1 {
    text-align: start;
    color: rgb(0, 0, 0);
    margin: 16px 6%;
    font-weight: 700;
}

button {
    width: 20%;
}

form{
    display: flex;
    flex-direction: column;
    width: max-content;
}

input {
    margin: 0;
}